[submodule "llvm-project"]
	path = third_party/llvm-project
	# .. refers to ssh|https://github.com/luxfhe
	url = ../torus-compiler-internal-llvm-project.git
	shallow = true
[submodule "lattice-estimator"]
	path = third_party/lattice-estimator
	url = https://github.com/malb/lattice-estimator
[submodule "third_party/Lux-FHE"]
	path = third_party/Lux-FHE
	url = https://github.com/luxfhe/tfhe.git
